/* header */
.t-navbar-user { width: 25%; height: 80%; display: flex; justify-content: space-between; align-items: center; padding: 0.5rem;}
.d-flex { display: flex!important; }

a { text-decoration: none !important;}
a:hover, a:active, a:focus { background-color:transparent !important; }
/* border-radius */
.t-br-2 { border-radius: 2px !important; }

/* Header */
.t-navbar { display: flex; justify-content: space-between; align-items: center; height: 3rem; }

/* Sidebar */
.t-sidebar { height: 100%; }
.t-sidebar-logo { padding: 0.875rem 0.875rem; font-size: 1rem; border-radius: 5px; }
.t-sidebar-menu, .t-sidebar-submenu { padding: 0.6rem 0.8rem; cursor: pointer; width: 100%; }
.t-sidebar-submenu { padding-left: 2.6rem; }

/* Menu Toggle Button */
.t-btn-toggle { font-size: 0.5rem; }

/* content  */
.t-content { display: flex; flex-direction: column; align-items: stretch; }

/* Submenu arrow */
.t-has-submenu { display: flex; justify-content: space-between; }

/* Submenu Collapse - animation fade-in / fade-out */
.t-submenu-show { display: inline-block; animation: fade-in 300ms; animation-fill-mode: forwards; }

/* display: none의 경우 DOM에서 바로 사라지므로 keyframes 적용 불가능 */
.t-submenu-hide { display: none; animation: fade-out 1s; animation-fill-mode: forwards; }

@keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
@keyframes fade-out { from { opacity: 1; } to { opacity: 0; } }

/* content */
.t-content { min-height: 100vh; }

/* login */
.t-login-container { height: 100vh; }
.t-login-logo { height: 50vh; display: flex; justify-content: center; align-items: center; }
.t-login-form { height: 33vh; }
/* login */
#username, #password { border: 0; }

/* chart canvas */
.t-chart { margin: 1rem; }

/* bootstrap */
.container-fluid { margin: auto; padding-top: 15px; padding-bottom: 15px; height: 100%; max-height: 800px; max-width: 1600px;}
.navbar { padding: 0.4rem; }
.pagination { justify-content: center;  }
#container { width: 100%; height: 100%; }

/* grid */
.gridWrap { display: flex; justify-content: center; align-items: center; }

/* btn-3 */
.t-btn-3-wrap { display: flex; justify-content: flex-end; padding: 0.3rem; }
.t-btn-3 { display: flex; justify-content: center; align-items: center; }

/* padding */
.rp-1 { padding-right: 0.3rem; }
.lp-1 { padding-left: 0.3rem; }

/* margin */
.rm-1 { margin-right: 0.3rem; }
.lm-1 { margin-left: 0.3rem; }

/* ToastUI Tree */
.tui-tree-content-wrapper {
	width: 100% !important;
}
.tui-tree-toggle-btn {
    float: left;
    margin: 6px 4px 0 0;
    width: 13px;
    height: 12px;
    font-size: 0;
    padding: 0;
    color: #000000;
    vertical-align: top;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
/* tree custom */
.tui-tree-text { color: /*indigo*/ #ccc !important; }
.tui-tree-selected>.tui-tree-content-wrapper { background-color: darkslateblue !important; }
.tui-page-btn { color: #fff !important; }

.hidden { display: none !important; }
.modal { position: fixed; left: 0; top: 0; z-index: 9999; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.7); width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; }

/* Bootstrap Check Switch */
.form-check-input:checked {
	background-color: #0D6E9F !important;
	border-color: #0D6E9F !important;
}

.separator-5 {
    width: 5%;
}
.divider-5 {
    height: 5%;
}